.root {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.root h2 {
  border-bottom: 1px solid #999;
  margin: 0;
  padding-bottom: 0.5rem;
}

.message {
  color: #fff;
  width: 20vw;
}

.status {
  margin-top: 0.5rem;
}

.status > * {
  margin: 0.5rem 0;
}
