<div id="flashes">
  <%= if get_flash(@conn, :info) do %>
    <%= render "flash.html", flash: get_flash(@conn, :info), kind: "info" %>
  <% end %>
  <%= if get_flash(@conn, :success) do %>
    <%= render "flash.html", flash: get_flash(@conn, :success), kind: "success" %>
  <% end %>
  <%= if get_flash(@conn, :error) do %>
    <%= render "flash.html", flash: get_flash(@conn, :error), kind: "danger" %>
  <% end %>
</div>
