.root {
  list-style: none;
  padding-left: 0;
}

.root > * {
  margin-bottom: 1rem;
}

.logo {
  border-bottom: 1px solid #333;
  display: block;
  margin: 0;
  padding-bottom: 1rem;
  text-align: center;
}
