<div class="container">
  <div class="content">
    <h1><%= @project.name %></h1>

    <h2>Preview notification command</h2>
    <pre>curl \
  --header "Content-Type: application/json" \
  --request POST \
  --data '<%= curl_payload_data(@project) %>' \
  <%= AppWeb.Router.Helpers.preview_url(AppWeb.Endpoint, :create) %></pre>

    <h2>Bitbucket Connection</h2>
    <%= form_for @bitbucket_provider_connection, project_project_path(@conn, :create_provider_connection, @project), [method: :put], fn form -> %>
      <%= hidden_input(form, :provider_id) %>

      <label class="label">
        User
        <%= select(form, :user_id, @users, prompt: "-- Choose user --") %>
      </label>
      <%= submit "Submit" %>
    <% end %>

    <h2>Github Connection</h2>
    <%= form_for @github_provider_connection, project_project_path(@conn, :create_provider_connection, @project), [method: :put], fn form -> %>
      <%= hidden_input(form, :provider_id) %>

      <label class="label">
        User
        <%= select(form, :user_id, @users, prompt: "-- Choose user --") %>
      </label>
      <%= submit "Submit" %>
    <% end %>

  </div>
</div>
